/********** Template CSS **********/
:root {
    --primary: #009CFF;
    --light: #F3F6F9;
    --dark: #191C24;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
    /* background-color: #42281F; */
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/* ** Layout **
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--light);
    transition: 0.5s;
    z-index: 999;
} */


.borContainner{
        border: 1px solid black;

}


.content {
    /* margin-left: 250px; */
    min-height: 100vh;   
    background: #F4F1ED;
    transition: 0.5s;
    width: 100%;
    /* width: 100vw; Chiều rộng 100% màn hình */
    /* border: 1px solid black; */
}


.container-xxl1{
    width:100%;
    padding-right:var(--bs-gutter-x, .75rem);
    padding-left:var(--bs-gutter-x, .75rem);
    margin-right:auto;margin-left:auto}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    /* .content {
        width: calc(100% - 250px);
    } */

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--dark);
    font-weight: 500;
    border-left: 3px solid var(--light);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: #FFFFFF;
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--light);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
}
.content .navbar{
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    background-color: #F4F1ED;

}
.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--dark);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}

.weather-board{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: #191C24 1px solid; */
}


.weather-inf{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    /* border: 1px solid black; */
    width: 60%;
    padding: 30px 0 4px 0;
    position: relative;
}




.weather-inf h6{
    position: absolute;
    top: 10px;
    font-size: 20px;
    text-transform: uppercase;
}

.weather-board .general-weather-infor{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.col-icon{
    margin-right: 50px;
}

.weather-icon {
    margin-bottom: 25px;

}
.weather-icon i{
    font-size: 50px;
}

.weather-icon h3{
    text-align: center;
}

.weather-temp-today {
   align-items: center;
}
.weather-temp-today i{
    font-size: 120px;
    margin-bottom: 18px;
}

.recommend-inf{
    /* border:1px solid black; */
    border-radius: 5px;
    padding: 20px;
    background-color: #F8F8F8;
}
.chart_background{
    background-color: #F8F8F8;
}

.recommend-inf h1{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #42281F;
}


h1{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #42281F;
}

h6{ 
    color: #42281F;
}

body {
    background-color: #DED3C6;
    
}


.footer{
    top:100px;
    margin-top: 130px;
    color: #42281F;
    
}
.footer1{
    color: #42281F;
}

a{
    color: #3A844F;
}

.header{
    margin-bottom: 150px;
    
}

.greenbutton{
    
    
}

.jss2586 {
    width: 150px;
    height: 40px;
    margin-top: 4px;
    border-radius: 4px;
}

.jss706 {
    color: #F4F1ED;
    background-color: #3A844F;
}

.jss705 {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    /* background-color: #e0e0e0; */
}

.jss694 {
    color: #42281F;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    line-height: 1.75;
    font-weight: 500;
    border-radius: 4px;
    text-transform: uppercase;
}

.jss676 {
    color: inherit;
    border: 0;
    margin: 0;
    cursor: pointer;
    display: inline-flex;
    outline: none;
    padding: 0;
    position: relative;
    align-items: center;
    
    vertical-align: middle;
    justify-content: center;
    -moz-appearance: none;
    text-decoration: none;
    /* background-color: transparent; */
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.Form{
    /* padding: 24px; */
}

.recommend-inf_text {
    margin-top: 10px;

    max-height: 150px; /* Set a fixed or maximum height for the scrollable area */
    overflow-y: auto;  /* Enable vertical scrolling */
    padding-right: 10px; /* Optional: Add some padding to avoid content touching the scroll bar */
    width: 350px;
}

.recommend-inf_text p{
    white-space:normal;
    word-break: break-all;
}

.weather-icon{
    text-align: center;
}

.weather-icon img{
    margin-bottom: 8px;
}

.weather-temp-today{
    text-align: center;
}

@media  (max-width: 1100px){
    .weather-board{
        display: block;
    }

    .weather-inf{
        width: 100%;
        margin-bottom: 20px;
    }

    .recommend-inf_text{
        width: 100%;
    }

    .weather-temp-today i{
        font-size: 80px;
    }

    .weather-icon h3{
        text-align: center;
    }
}